[2018-04-24 15:26] Alex-EEE opened #4 "Porting from mbed-cloud-client-example-restricted"
Is there a porting guide for moving from the restricted version of this repo to this version?  Or can someone summarize the differences here?  It looks like some things were changed around the pal layer?

[2018-04-24 15:52] ciarmcom commented on #4
ARM Internal Ref: IOTCLT-2632

[2018-04-25 07:17] ranshe opened #7 "Linux build broken"
Following the instructions on https://cloud.mbed.com/docs/current/connecting/connecting.html, I get this error:

ubuntu@ip-172-31-25-20:~/mbed-cloud-client-example$ python pal-platform/pal-platform.py fullbuild --target x86_x64_NativeLinux_mbedtls --toolchain GCC --external ./../define.txt --name mbedCloudClientExample.elf
Traceback (most recent call last):
  File "pal-platform/pal-platform.py", l

[2018-04-25 07:37] teetak01 commented on #4
Hi @Alex-EEE there is no code-diff between public release (this repo) and restricted version (Limited Availability) if the version number is identical. The restricted repository may get from time to time preview to upcoming new features before those are released to public.

Of course if you do find actual code diff between same versions, please let me know.

[2018-04-25 07:39] teetak01 commented on #7
Hi @ranshe did you install the development tools as suggested here: https://cloud.mbed.com/docs/current/cloud-requirements/tool-requirements.html

You are missing at least python `click`.

[2018-04-25 07:52] ciarmcom commented on #7
ARM Internal Ref: IOTCLT-2633

[2018-04-25 07:56] ranshe commented on #7
@teetak01 - I did pip install mbed-cli as mention in https://github.com/ARMmbed/mbed-cli

[2018-04-25 15:05] Alex-EEE commented on #4
Ok, I see now, I have a version I downloaded and modified from Jan, and there have just been tremendous changes in the repo and structure since then to support the newer version of Cloud Client.  Can you point me at some release notes or just SOME documentation outlining what changes are being made to Cloud Client, why they are made, and how you can update your application to play nice with the ne

[2018-04-25 18:06] ranshe commented on #7
Did
pip install requests
pip install click
sudo apt-get install python-dev
export GCC_DIR=~/gcc-arm-none-eabi-7-2017-q4-major
export PATH=export PATH=~/gcc-arm-none-eabi-7-2017-q4-major/bin:/home/ubuntu/bin:/home/ubuntu/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/lib/jvm/java-8-oracle/bin:/usr/lib/jvm/java-8-oracle/db/bin:/usr/

[2018-04-25 18:07] ranshe commented on #7
ignore the strike through, I guess putting a string between ~ sign does that.
Testing: ~strike?~

[2018-04-26 06:00] JaniSuonpera commented on #7
@ranshe This is x86 build for desktop Linux. You must Ubuntu native GCC version. I am using Ubuntu 16.05 LTS, installed gcc version is (Ubuntu/Linaro 6.3.0-18ubuntu2~16.04) 6.3.0 20170519.

[2018-04-26 06:12] teetak01 commented on #7
Could you undefine the GCC_ARM environmental flag? That is now incorrectly linking to ARM crosscompiler, when you actually need GCC linux compiler.

Also note that officially supported versions for both GCC and arm-none-eabi-gcc are the version 6 (you seem to have version 7).

[2018-04-26 06:14] ranshe commented on #7
I'll try that when in front of PC.
I was trying to follow directions as given by arm, so can you please make the relevant changes to the docs?

[2018-04-26 06:18] teetak01 commented on #7
Sure, can you tell me where did you find the mention for GCC_ARM flag? I am unable to find it anywhere.

[2018-04-26 06:24] ranshe commented on #7
I did not set this explicitly, must be part of the install scripts.
Unless you mean GCC_DIR flag, which I added since the build script sets it to /usr which I thought was wrong (and compilation failed)

[2018-04-27 17:59] ranshe commented on #7
Regarding the GCC version - looking @ https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads, the download link points me to v7 - https://developer.arm.com/-/media/Files/downloads/gnu-rm/7-2017q4/gcc-arm-none-eabi-7-2017-q4-major-linux.tar.bz2?revision=375265d4-e9b5-41c8-bf23-56cbe927e156?product=GNU%20Arm%20Embedded%20Toolchain,64-bit,,Linux,7-2017-q4-major

[2018-05-02 10:00] teetak01 commented on #4
There are also CHANGELOGs as part of the repositories:

https://github.com/ARMmbed/mbed-cloud-client-example/blob/master/CHANGELOG.md
https://github.com/ARMmbed/mbed-cloud-client/blob/master/CHANGELOG.md

Official release notes can be found from https://cloud.mbed.com/docs/current/release-notes/index.html

[2018-05-02 15:27] #4 closed

[2018-05-04 07:09] ranshe commented on #7
@elm3 for visibility
Closing this since eventually I got it to work, however I still think that the docs (in the various places) needs to be consolidated and updated / have full details

[2018-05-04 07:09] #7 closed

[2018-05-04 13:40] yemkay opened #9 "Build error on Raspbian OS"
I'm trying to build on Raspbian Stretch OS. I know its not supported, but would still give it a try for setting up my development device.

Is this error familiar to anyone?

[code]

[2018-05-04 15:52] ciarmcom commented on #9
ARM Internal Ref: IOTCLT-2690

[2018-05-07 10:10] ccli8 opened #10 "Some issues with storage on Mbed Cloud 1.3"
I am evaluating Mbed Cloud 1.3 on **NUMAKER_PFM_M487** target and meet some issues with storage. Most issues are related to `mbed-cloud-client-example/source/platform/mbed-os/common_setup.cpp`:
1. There's `#if (MBED_CONF_STORAGE_SELECTOR_STORAGE  == SD_CARD)` in this file, but I find no `SD_CARD`, `SPI_FLASH`, etc. are defined.
1. It seems this file requires `SD_CARD` to be partitioned (**MBR**).

[2018-05-07 10:40] teetak01 commented on #10
Hi @ccli8,

1. We also noticed this issue already earlier and it has already been fixed in internal dev. version and will be released in future release.
2. Cloud Client uses KCM for storage and this requires a filesystem currently. We recommend FAT32 with SD-cards, but also LittleFS can be used. It is possible to use SPI_FLASH, where LittleFS is more suitable. Generally any external flash designed

[2018-05-07 10:55] ccli8 commented on #10
@teetak01 Thanks for your reply. About Issue 2, is storage e.g. SD card required to be partitioned (MBR)? It is very common the whole storage is used as a partition and there's no MBR in it.

[2018-05-07 11:52] ciarmcom commented on #10
ARM Internal Ref: IOTCLT-2695

[2018-05-08 12:28] JaniSuonpera commented on #9
Hi @yemkay

What Linux you using for building? There are available supported Linux distros https://www.yoctoproject.org/docs/2.2/ref-manual/ref-manual.html#detailed-supported-distros

Current Rasperry PI Yocto build is using Morty/Yocto 2.2.

[2018-05-08 12:31] JaniSuonpera commented on #9
Hi @yemkay

You cannot use Rasperry PI for building mbed-cloud-client example application. It must pass through Yocto build. See https://cloud.mbed.com/docs/v1.2/connecting/tutorial-connect-rpi3.html

[2018-05-08 12:31] #9 closed

[2018-05-10 06:03] ccli8 commented on #10
@teetak01 @JaniSuonpera I partition my SD card manually and it works with the 1.3.1.1 code. Thanks for your information.

[2018-05-10 06:03] #10 closed

[2018-05-10 06:23] ccli8 opened #11 "Meet hard fault after Client Update with ARMC6"
### Environment
--------------------------------------------------------------------------
**mbed-cloud-client-example**
1.3.1.1

**mbed-os**
mbed-os-5.8.3

**Target**
K64F

**ARMC6**
6.10

**GCC_ARM**
GNU Tools for Arm Embedded Processors 7-2017-q4-major

**ARM**
5.24

### Description
--------------------------------------------------------------------------
Built with ARMC6 toolchain, I meet har

[2018-05-10 07:52] ciarmcom commented on #11
ARM Internal Ref: IOTCLT-2713

[2018-05-11 05:35] teetak01 commented on #11
Hi @ccli8 thank you for reporting. We will check this.

[2018-05-11 08:51] JanneKiiskila commented on #11
@sg-  - for your attention as well.

[2018-05-15 05:42] ccli8 opened #12 "Fail to combine bootloader/application programs of HEX format"
During my evaluation of Mbed Cloud 1.3.1 on our on-going **NUMAKER_PFM_M2351** target, I fail to combine bootloader/application programs of HEX format. I re-produce the issue on **K64F**:

### Environment
--------------------------------------------------------------------------------------
**Target**
K64F

<pre>
"K64F": {
        "supported_form_factors": ["ARDUINO"],
        "core": "Cortex-M4F"

[2018-05-15 05:54] teetak01 commented on #12
Hi @ccli8, thanks for reporting.

The issue you looks like something that was just fixed in Mbed OS: https://github.com/ARMmbed/mbed-os/pull/6885.

The combine-script can also accept `.bin` format and output `.hex`, thus if you compile your bootloader in .bin format, it should work fine then.

[2018-05-15 06:36] ccli8 commented on #12
@teetak01 Thanks for your information. It would fix my issue.

[2018-05-15 06:36] #12 closed

[2018-05-16 13:34] janjongboom opened #13 "Cannot build on Ubuntu 16.04"
I'm following all the steps in the docs, but building fails: https://cloud.mbed.com/docs/current/connecting/connecting.html

[code]

[2018-05-16 15:52] ciarmcom commented on #13
ARM Internal Ref: IOTCLT-2726

[2018-05-17 13:47] janjongboom commented on #13
@teetak01 How would I deploy this? It's not in the instructions...

[2018-05-17 15:32] teetak01 commented on #13
Instructions suggest to use` mbed import`, which performs `mbed deploy` automatically.

Alternatively, if you clone the application via `git clone,` then you need to run `mbed deploy` seperately.

[2018-05-17 15:34] janjongboom commented on #13
@teetak01 Interesting, I missed the mbed import part. but this is also pulling in mbed OS and all the dependencies like storage-selector. I don't like that.

[2018-05-18 05:42] teetak01 commented on #13
I do not see that as a real problem. Pure linux-application does not include those libs at all. This reference application supports both Linux and Mbed OS out-of-box so some compromise needs to be done. We really would not want to write yet-another tool to deploy components seperately for Linux.

[2018-05-18 10:12] yogpan01 commented on #11
Until mbed-os officially supports ARMC6 , client cannot promise any support from its side either. We are closing this issue for now.

[2018-05-18 10:12] #11 closed

[2018-05-18 11:28] sg- commented on #11
Mbed OS 5.9 will support Arm compiler 6, just not as the default compiler. We should be looking into what the problem is. @kjbracey-arm could you have a look?

[2018-05-18 22:36] surajdagar opened #14 "can't build on CLI for target nRF_52840"
Error Logs:

Compile [ 37.9%]: GenericGap.cpp
[Warning] BLE.h@1049,39: 'virtual ble_error_t Gap::disconnect(Gap::DisconnectionReason_t)' is deprecated: Use disconnect(Handle_t, DisconnectionReason_t) instead. [-Wdeprecated-declarations]
Compile [ 38.1%]: GenericSecurityManager.cpp
[Warning] BLE.h@1049,39: 'virtual ble_error_t Gap::disconnect(Gap::DisconnectionReason_t)' is deprecated: Use disconne

[2018-05-18 23:52] ciarmcom commented on #14
ARM Internal Ref: IOTCLT-2736

[2018-05-21 06:32] yogpan01 commented on #14
Hi @surajdagar ,
This is mbed-os build issue where you would need to have the correct setup for this board.
@dlfryar Do you have any pointers for compiling client on this board ?

[2018-05-21 07:42] teetak01 commented on #13
Closing this issue as resolved.

[2018-05-21 07:42] #13 closed

[2018-05-21 22:04] dlfryar commented on #14
Latest build steps/script and config attached.

[build.sh.txt](https://github.com/ARMmbed/mbed-cloud-client-example/files/2024232/build.sh.txt)
[mbed_lib.json.txt](https://github.com/ARMmbed/mbed-cloud-client-example/files/2024233/mbed_lib.json.txt)

[2018-05-29 07:51] teetak01 commented on #14
@surajdagar is this issue resolved for you?

[2018-06-01 17:51] #14 closed

[2018-07-04 06:04] jwyune opened #20 "K64F + ESP8266 not working"
Hi,

This example no longer works for K64F + ESP8266. It used to work no problem just a few weeks ago. I just verified that K64F with ethernet connection works fine. Has anything changed in the past few weeks?

[2018-07-04 06:13] jwyune commented on #20
Never mind. I had a faulty ESP8266 board. I apologize for confusion.

[2018-07-04 06:13] #20 closed

[2018-09-03 04:22] janjongboom opened #22 "Link in README is broken"
https://cloud.mbed.com/docs/current/connecting/mbed-cloud-client-tutorials.html leads to a 404

[2018-09-03 07:50] ciarmcom commented on #22
ARM Internal Ref: IOTCLT-2960

[2018-09-03 15:51] teetak01 commented on #22
Hi @janjongboom the issue should be resolved now.

[2018-09-04 03:53] #22 closed

[2018-11-12 11:56] jarlamsa opened #27 "Space for event loop is allocated twice for mesh configurations"
The cloud client calls ns_hal_init to initialize the event loop and allocate memory for it.
Mbed OS is also doing similar thing, but defaults allocating the memory statically.

Since cloud client's call to ns_hal_init has already allocated memory and initialized the event loop, the call from Mbed OS returns immediately because event loop is initted already.

This results as statically allocated me

[2018-11-12 11:58] jarlamsa commented on #27
@teetak01 @JanneKiiskila @kjbracey-arm
Is this just configuration issue, or should mbed-os have a mechanism in place for cloud client to use the nanostack event loop in co-operation with the mbed-mesh-api?

[2018-11-12 12:11] kjbracey-arm commented on #27
IIRC, the assumption originally when that was written was that Nanostack's init would get in *first*, and allocate a big heap.  Cloud client would be the second caller, and that was okay because it used a tiny dynamically-allocated heap - was only used for the event loop, as it used system malloc for all its main structures.

[2018-11-12 12:31] kjbracey-arm commented on #27
Obviously this is all a bit fragile, and I guess something has changed. Looking to see where `mesh_system_init` is called, I see it

* in the constructor of `Nanostack`, which would kick in the moment you create an `EthernetInterface` with it as the default stack.
* in `MeshInterfaceNanostack::initialize`

Seems like it should probably be in `MeshInterfaceNanostack`'s constructor too.

Can you reo

[2018-11-12 12:32] kjbracey-arm commented on #27
If you do want to share init code with mbed-mesh-api, we could arrange that, but then you would be sharing the config setting, and those would be defaulting to "big enough for Nanostack", so you'd have to have app config to pull that back down when you knew Nanostack wasn't in use.

[2018-11-12 12:46] jarlamsa commented on #27
Those are quite coupled together and I am not cloud client expert. @teetak01 could you take a look?

[2018-11-12 12:52] kjbracey-arm commented on #27
It's possible that you have already located the network interface first (via `NetworkInterface::get_default_instance()`, and the issue is due to the lack of init in `MeshInterfaceNanostack`'s constructor.

By code inspection this sequence would initialise the HAL:

    LoWPANNDInterface lowpan();
    lowpan.initialize(&NanostackRfPhy::get_default_instance())

But `MeshInterface::get_target_default

[2018-11-12 13:04] jarlamsa commented on #27
mcc_common_setup.cpp calls the NetworkInterface::get_default_instance, that is called from simplem2mclient.h
SimpleM2MClient has a member MbedCloudClient which has a member ServiceClient which has a member ConnectorClient, which calls ns_hal_init in it's constructor. The member MbedCloudClient is constructed before calling the mcc_common_setup.

[2018-11-12 13:06] jarlamsa commented on #27
Yes, the initialising of HAL seems to be a bug and probably fixes issues with EUI64, but doesn't solve this issue straight away.

[2018-11-12 13:07] jarlamsa commented on #27
Adding @mikter @artokin

[2018-11-12 13:10] kjbracey-arm commented on #27
Could a `get_default_instance` call could be done first in the initializer list? Bit subtle, I know...

[2018-11-12 13:46] jarlamsa commented on #27
Let's see, at least seems to be possible to do it in the initializer list.
Still the later calls to ns_hal_init are not doing anything, is this intentional that without Nanostack those would still be called? Couldn't just some preprocessor flag solve this race?

[2018-11-12 13:47] kjbracey-arm commented on #27
mbed client uses the ns_hal, so needs it initialised, even if Nanostack isn't in use. Those other calls will start doing something when Nanostack is out of use.

[2018-11-12 14:37] jarlamsa commented on #27
Changing the constructor https://github.com/ARMmbed/mbed-cloud-client-example/blob/master/source/simplem2mclient.h#L49
so that the mcc_platform_init_connection is first in the initializer-list and calling _cloud_client last on the initializer-list still causes the ConnectorClient to be initialised first thus causing it to call the ns_hal_init first. Are the member objects constructed already befor

[2018-11-13 08:37] jarlamsa commented on #27
Not sure what happened after changing the initialising order. I have 2 different radio versions, seems that the SPI with the other one doesn't work properly anymore, other is working without problems.

[2018-11-14 11:12] jarlamsa commented on #27
Hmm, seems that using tr_info in the mesh_system_init caused the issues with the other version of the radio shield.

Reordering the app so that network interface gets initialised first and thus mesh_system.c calls the `ns_hal_init` first doesn't seem to bring any ill effects. Now the statically allocated memory is used for the Nanostack heap and calls from cloud client to `ns_hal_init` are returni

[2018-11-15 08:19] radzioon opened #28 "Problem with importing project to IDE"
Hi,

I want to modify your example but I have a problem with importing the project to IDE (CLion). The problem is that cmake don't see common.cmake file and unrecognise expressions like
`SET (CMAKE_CXX_COMPILER "/usr/bin/clang++")`

Maybe someone is able to write some instruction on how to start with it?

[2018-11-18 22:03] kaidokert opened #29 "How to build the LITE configuration ?"
I'm not sure if the public repo here is supposed to build with ARM_UC_PROFILE_MBED_CLIENT_LITE set ? I've tried both 1.5 and 2.0 releases and it seems that the codepath for lite client couldn't even be compiled because it's using some outdated APIs.

I made a test repo here that builds cloud-client on Travis for both 1.5 and 2.0 versions

https://github.com/iconservo/mbed-testbuild/

It builds K64

[2018-11-18 22:13] ciarmcom commented on #29
ARM Internal Ref: IOTCLT-3184

[2018-11-19 06:41] teetak01 commented on #29
Hi @kaidokert, unfortunately what you are trying is not possible. Client Lite is a different product.

This repository is for Pelion Device Management Client example (old Mbed Cloud Client).

The repository (restricted access) for Pelion Device Management Client Lite example (old Mbed Client Lite) is https://github.com/ARMmbed/mbed-client-lite-example-restricted.

The products do share some common

[2018-11-19 07:54] JanneKiiskila commented on #29
Hi @kaidokert - Teemu is indeed correct. They are two separate products and Lite client has it's own repositories([example](https://github.com/ARMmbed/mbed-client-lite-example-restricted.) and [library](https://github.com/ARMmbed/mbed-client-lite-restricted.)) . You should have access to it soonest. Please ensure the [security guidelines for Arm GitHub users](https://os.mbed.com/blog/entry/Securit

[2018-11-19 07:54] #29 closed

[2018-12-04 09:20] yogpan01 commented on #28
Hi,
The CMake setup has been tested in command line and a specific IDE (CLion) setup would require configuration changes from your side. The CMake setup here is a reference for starting up project over command line. We will however try to check if we can provide any further assistance for this issue but I would suggest you to refer documentation for your IDE to import custom project and configure

[2018-12-18 12:26] 0xc0170 opened #31 "License header missing in some files"
Please review files and make sure the license is in each source file . For instance: https://github.com/ARMmbed/mbed-cloud-client-example/blob/master/sotp_fs_config_MbedOS.h

Recommend using SPDX identifier

[2018-12-18 12:28] 0xc0170 opened #32 "Contributing: the license"
I believe this example should follow inbound - outbound license . We shall add to the Readme a new section License and contributions.

Good example is in Mbed OS repository:

[code]

[2018-12-24 02:21] hanyuzzw opened #34 "Replace the Server"
Hello!
I want to ask if I replace the lwm2m server to others(like [Leshan](https://leshan.eclipse.org/#/clients) or local server),does the client still work? and how to solve the Security credentials problem?

[2018-12-24 05:03] ciarmcom commented on #34
ARM Internal Ref: IOTCLT-3251

[2018-12-24 06:31] hanyuzzw commented on #34
But how to access it ？

[2019-01-10 08:17] teetak01 commented on #31
This will be fixed in next public release.

[2019-01-31 09:54] JanneKiiskila commented on #34
Hi,

We are not testing nor guaranteeing any compatibility with other LwM2M servers (such as Leshan). The Pelion Device Management Client works against Pelion Device Management solution. I.e. non-supported feature and we are not planning to support generic LwM2M servers either (at least for now).

[2019-01-31 09:54] #34 closed

[2019-02-13 11:27] JanneKiiskila commented on #27
Will be fixed to Client 2.2.0 release.

[2019-02-21 09:56] mjchen1 opened #41 "mbed-cloud-client example run in ARM9 system problem"
1. I use "python pal-platform/pal-platform.py fullbuild --target ARM_OpenWRT_mbedtls --toolchain GCC-OPENWRT --external ./../define.txt --name mbedCloudClientExample.elf" can build success.
but when I run ".elf" in my system will occur error.
2. when I run "/out/Release/mbedCloudClientExample.elf" will occur "MBEDTLS_ERR_ECP_INVALID_KEY".
this error come from the function "static int ecp_check_pub

[2019-02-26 10:17] teetak01 commented on #27
This has been fixed in 2.2.0 release.

[2019-02-26 10:17] #27 closed

[2019-02-26 10:17] teetak01 commented on #31
Fixed in 2.2.0

[2019-02-26 10:17] #31 closed

[2019-03-21 14:29] ciarmcom commented on #41
ARM Internal Ref: IOTCLT-3421

[2019-04-15 10:51] 0xc0170 commented on #32
Can this be fixed? Use https://github.com/ARMmbed/mbed-os-example-blinky as an example (see Readme section and license/contributing md files)

[2019-06-03 08:15] JanneKiiskila commented on #41
Any updates on this @mjchen1 ? It's quite hard to offer assistance on this end, as we don't know the full setup (board, compiler versions etc.). Arm9 systems in itself should not be a problem, it definitely should work - the code is just C/C++.

[2019-06-07 20:02] loverdeg-ep opened #45 "Request: Add support for for CY8CPROTO-062-4343W"
Very low cost board with high end capability.

We want to prototype for another product with this kit.

https://www.cypress.com/documentation/development-kitsboards/psoc-6-wi-fi-bt-prototyping-kit-cy8cproto-062-4343w

@maclobdell
@farrenv

[2019-06-07 21:13] ciarmcom commented on #45
ARM Internal Ref: IOTCLT-3538

[2019-06-10 07:19] yogpan01 commented on #45
@JanneKiiskila can you please check this one?

[2019-06-10 09:21] JanneKiiskila commented on #45
We already support one version of PSOC6, apparently they use the same board support, so it might work out of the box or with minor modifications. Could you give it a try  @loverdeg-ep ?

[2019-06-10 17:00] loverdeg-ep commented on #45
@farrenv Lets test this when you are back in office.

[2019-06-11 09:57] JanneKiiskila commented on #45
Example configuration for the PSOC6 Pioneer Kit available here; https://github.com/ARMmbed/mbed-cloud-client-example/blob/master/configs-psa/wifi_esp8266_v4.json

[2019-06-13 08:43] toyowata opened #47 "Build error for LPC55S69_NS target"
# Version

mbed-cloud-client-example (#6eb5211a1d14, tag: 3.2.0)
|- drivers/wifi-x-nucleo-idw01m1 (#a00282000178, tag: v1.2.0)
|- mbed-cloud-client (#4f4a8463dd06, tag: 3.2.0)
`- mbed-os (#73f096399b4c, tags: latest, mbed-os-5.12.4)

# Step to reproduce

[code]

# Build log
[code]

[2019-06-13 13:39] ciarmcom commented on #47
ARM Internal Ref: IOTCLT-3542

[2019-06-13 14:53] teetak01 commented on #47
Hi @toyowata thanks for the report.

If you look at our tutorial https://www.pelion.com/docs/device-management/current/connecting/mbed-os.html, we mention this:

**Note: The --app-config option is not supported, as the application configuration files contain relative paths to the bootloader files.**

If you instead copy the config file to the application root, then it should compile just fine.

[c

[2019-06-14 07:59] toyowata commented on #47
@teetak01 Thanks.  I can compile the project without errors.
I got runtime error on the LPC55S69 and will raise other issue.
I close this issue.

[2019-06-14 07:59] #47 closed

[2019-06-17 11:51] JanneKiiskila commented on #45
Please keep us in the loop & give us feedback, if you have any issues.

[2019-06-19 15:01] gggekov opened #48 "DeviceKey was not declared for RZ_A1H target"
Hello!
I'm building the cloud-client-example for the [rz_a1h](https://os.mbed.com/platforms/Renesas-GR-PEACH/) target, I'm on the Release candidate for mbed-os-5.12.4(commit id 618297fac2e3057de8b1a7b0b4147093de8fe03e).
The error I'm getting when building on Ubuntu is:
[code]
Note also that TLS has been disabled.

Do you have suggestions how to fix this problem?

Many thanks!
George

[2019-06-19 21:13] ciarmcom commented on #48
ARM Internal Ref: IOTCLT-3553

[2019-06-20 05:24] teetak01 commented on #48
Hi @gggekov

DEVICEKEY is a Mbed OS Crypto component that is known to have pretty complex configuration in relation to Client entropy injection features. The KVStore and PSA features are tied through some common APIs and the application flag-usage is not straightforward, especially in Mbed OS 5.12 or earlier.

I would recommend trying this in this order:
1) Update to Mbed OS 5.13.0-RC3 (Especially

[2019-06-20 05:25] teetak01 commented on #28
closing as there has been no response for several months.

[2019-06-20 05:25] #28 closed

[2019-06-20 12:36] gggekov commented on #48
Thank you @teetak01  for the prompt reply.
I'm on Mbed OS 5.13.0-RC3 and have enabled `MBEDTLS_ENTROPY_NV_SEED` but still get the same error.

[2019-06-20 12:41] teetak01 commented on #48
MBEDTLS_PSA_CRYPTO_C should be defined, but maybe you can try defining also that.

[2019-06-24 12:34] maclobdell commented on #45
I'm trying to get this example (version 3.1.1) compiling for CY8CPROTO-062-4343W.

I updated to mbed-os 5.12.4.

Config file tested is the following.

[code]

Initially I get a linker fails due to conflicting BLE functions.  I removed BLE.  Will investigate that.

Then I get the following linker error.

[code]

[2019-06-24 12:36] maclobdell commented on #45
@JanneKiiskila - please let us know if you have any suggestions on this problem.

`Undefined symbol pal_plat_osEntropyInject`

[2019-06-24 12:38] JanneKiiskila commented on #45
@evgenibo - can you give a hand here? Seems the entropy injection is not found. @maclobdell  - do you have PSA on?

[2019-06-24 12:41] JanneKiiskila commented on #45
I think the lack of PSA might explain this, please try adding:

[code]

[2019-06-24 12:43] maclobdell commented on #45
I was trying to test without PSA.  This target doesn't have PSA configurations in targets.json for mbed-os.

[2019-06-24 13:31] loverdeg-ep commented on #45
@trowbridgec

[2019-06-24 14:33] evgenibo commented on #45
I was able to compile it with lastest mbed-cloud-client-example-internal:
https://github.com/ARMmbed/mbed-cloud-client-example-internal. It comes with 5.13.0 rc3

[2019-06-24 18:32] loverdeg-ep commented on #45
Be nice if I could access the internal example...

[2019-06-24 20:38] evgenibo commented on #45
I still couldn't reproduce the linker error when using release 3.1.1: https://github.com/ARMmbed/mbed-cloud-client-example/tree/3.1.1 and the config file above.
Can you please add detailed steps including the build command?

[2019-06-24 20:54] JanneKiiskila commented on #45
Seems the bootloader support at least is missing from `targets.json`, issue raised to mbed-os: https://github.com/ARMmbed/mbed-os/issues/10892

[2019-06-25 05:56] evgenibo commented on #45
@loverdeg-ep , @maclobdell ,
you need to add two configurations :
1. ```"target.extra_labels_add"  : [ "PSA" ]``` as Janne mentioned
2. add ```MBEDTLS_PSA_CRYPTO_C``` macro.
Those required because PSA API for entropy injection is used, even if the board does not support/configured to work with PSA. No other PSA APIs are used.

[2019-06-25 10:49] JanneKiiskila commented on #45
Please note that the bootloader is apparently big,
[code]
so the default [`mbed_app.json`](https://github.com/ARMmbed/mbed-cloud-client-example/blob/master/mbed_app.json#L3) in the root of the example cant' be used as is, as it is defaulting to 32 kB bootloader. The `.json` files under [`config-psa`](https://github.com/ARMmbed/mbed-cloud-client-example/tree/master/configs-psa) would work better as

[2019-06-26 01:15] maclobdell commented on #45
I found out a few more things today, but I still can't get this working.  @evgenibo - please let me know if this sounds correct.

First, since there isn't a CMSIS pack for this target, there are a few defines that have to be made manually.  I believe these should be made in targets.json for this target.

[code]

The Cortex M0+ has a binary application that gets placed at 0x10000000 to 0x10002000.

[2019-06-26 03:13] maclobdell commented on #45
Making progress.  Now able to get application to boot.

In the bootloader and application configs, I changed to this.

[code]

Now it is able to boot the application.  But it gets stuck making the WiFi connection.

[code]

[2019-06-26 11:58] JanneKiiskila commented on #32
It's quite not as simple as that, due to the release model we were asked to use. We can't simply just merge stuff, as these repos are more just like the "outgoing" repo. The development is in the internal repos and we do code drops to the external, public repos as part of release. That will then loose the external contribution commits, their history & author info, which is not good.

[2019-06-27 12:45] teetak01 commented on #48
closing as duplicate of https://github.com/ARMmbed/mbed-os/issues/10876

[2019-06-27 12:45] #48 closed

[2019-08-16 05:27] teetak01 commented on #41
closing due inactivity.

[2019-08-16 05:27] #41 closed

[2019-09-11 21:04] maclobdell commented on #45
Update:  We have a good recipe to demonstrate it working, however there were a few hacks to Mbed OS required in 5.12.x and 5.13.x.  We were waiting on fixes in Mbed OS 5.14 to get bootloader mode working, but there is still an outstanding issue.  Hopefully soon we'll be able to make a PR.

[2019-09-16 06:21] vince-zeng opened #52 "Request to update the MbedTLS to 2.19"
When compile the mbed-cloud-client-example for ARM9 platform, we meet the following error. And it should be fixed in  Mbed TLS 2.19 and Mbed Crypto 2.0.0. Would you please update them?
[code]

[2019-09-16 13:28] ciarmcom commented on #52
ARM Internal Ref: IOTCLT-3648

[2019-09-16 13:37] teetak01 commented on #52
This is already planned to be part of next release.

[2019-09-25 12:09] teetak01 commented on #52
Mbed TLS was updated to 2.19.1 in #53

[2019-09-25 12:09] #52 closed

[2019-12-11 11:57] teetak01 commented on #45
There is a PR in https://github.com/ARMmbed/mbed-os-example-pelion/pulls which should be updated to add this support.

[2019-12-11 11:57] #45 closed

[2019-12-31 14:05] dannywahlquist opened #58 "EAPOL Key Message 4 of 4 twice"
Any idea why my devices respond to EAPOL Key Message 1 of 4 and 3 of 4 with 4 of 4 both times?

[2019-12-31 14:28] ciarmcom commented on #58
ARM Internal Ref: IOTCLT-3901

[2020-01-02 12:38] yogpan01 commented on #58
Hi,
Can you please elaborate your use case?
What is EAPOL Key Message and what is the sequence you are expecting vs. what you are observing?

[2020-01-02 17:20] dannywahlquist commented on #58
I verified that it is working correctly. The Wireshark dissector is reporting message 2 as 4 because of the way WiSUN modifies the 4-way handshake.

[2020-01-03 08:15] yogpan01 commented on #58
Good to know that its working fine. Can this be considered as resolved and issue can be closed?

[2020-01-03 16:59] dannywahlquist commented on #58
Yes, thanks!

[2020-01-03 16:59] #58 closed

[2020-01-03 17:03] dannywahlquist opened #59 "What combinations of wisun domain, class, and mode are supported?"
I was particularly trying to run PHxA class 2, mode 3 to have only 7 channels.

            "mbed-mesh-api.wisun-regulatory-domain"     : "10",
            "mbed-mesh-api.wisun-operating-class"       : "2",
            "mbed-mesh-api.wisun-operating-mode"        : "3",

[2020-01-04 05:03] ciarmcom commented on #59
ARM Internal Ref: IOTCLT-3909

[2020-01-06 11:58] yogpan01 commented on #59
@mikter Can you please provide details for these configurations?

[2020-01-06 15:27] dannywahlquist commented on #59
WiSUN Philippines domain 0X0A, class 2, mode 3 supports Channel Spacing (400kHz), Total Number of Channels 7, Channel Center Freq0 (915.4 MHz).

[2020-01-07 07:01] mikter commented on #59
We currently only support EU, North America, Korea regulatory domains. as we have not included the conversion table for all regulatory domains, modes and class from the Wi-SUN PHY specification.

If you must use the Philippines Regulatory domain it can be added in this file
https://github.com/ARMmbed/mbed-os/blob/master/features/nanostack/sal-stack-nanostack/source/6LoWPAN/ws/ws_common.c
to ws_com

[2020-01-07 17:17] dannywahlquist commented on #59
Worked perfectly, thanks!

[2020-01-07 17:17] #59 closed

[2020-01-10 19:19] eriknayan opened #60 "Wi-SUN TLS cert check fail - Pelion"
### Description of defect

Following the Wi-SUN tutorial below, we had an issue with the EAP-TLS handshake, which is probably caused by a certification check problem. Link:
https://www.pelion.com/docs/device-management/current/connecting/wi-sun-tutorial.html

#### Target(s) affected by this defect ?
- NXP K64F with I-NUCLEO-S2868A1 RF shield
- NXP K64F with I-NUCLEO-S2868A1 RF shield  + QUECTEL EC

[2020-01-10 22:13] ciarmcom commented on #60
ARM Internal Ref: IOTCLT-3930

[2020-01-11 18:26] yogpan01 commented on #60
@mikter Can you please check the logs and provide some input on what can be the potential solution for this issue?

[2020-01-13 08:42] mikaleppanen commented on #60
Are you using default Wi-SUN certificates provided in application? Problem could be e.g. due to TLS configuration. @eriknayan could you check the configuration you are using for cloud client? E.g. not having this line:

`
            "client_app.mbedtls-user-config-file"       : "\"configs/wisun_mbedTLSConfig_mbedOS.h\"",
`

on K64F configuration could result error like this since for WI-SUN defau

[2020-01-13 13:14] eriknayan commented on #60
Hello @mikaleppanen,

First, thanks for you quick answer and help. Indeed, we were missing that line in our .JSON config file for the K64F board. Also, we had changed the Wi-SUN certificates, so after coming back to the default ones it worked as expected.

Could you please clarify how to generate our own Wi-SUN certificates and what's the purpose of each one? We didn't find any doc about this subj

[2020-01-14 07:44] mikaleppanen commented on #60
@eriknayan Instructions/tools how to acquire certificates are provided by the Wi-SUN alliance.

[2020-01-17 16:12] #60 closed

[2020-01-22 12:40] JanneKiiskila commented on #32
Next release will have CONTRIBUTE.md files with relevant details and PRs will get templates for answering a few questions.

[2020-02-12 12:57] JanneKiiskila commented on #32
This is now covered via release 4.3.0.

[2020-02-12 12:57] #32 closed

[2020-02-28 09:14] niravdesai712 opened #63 "Wi-SUN Node connection with cloud error."
I am trying to connect my WiSUN node with Pelion cloud. Node successfully connect with Border Router. But node is not able to connect to cloud. Log of Node attached.
[NodeLog.txt](https://github.com/ARMmbed/mbed-cloud-client-example/files/4266174/NodeLog.txt)

Thanks

[2020-02-28 09:20] teetak01 commented on #63
Hi @niravdesai712

The issue seems to be related to this:
[code]
And it looks like timeout from DNS API.

Which version of Client and Mbed OS are you using?

In 4.1.0 version of the example we added these lines for the WiSUN:
https://github.com/ARMmbed/mbed-cloud-client-example/blame/master/configs/mesh_wisun.json#L36-L38

the Mbed OS default timeouts are too short for WiSUN, thus that was fixed i

[2020-02-28 09:25] niravdesai712 commented on #63
[App_Config_json.txt](https://github.com/ARMmbed/mbed-cloud-client-example/files/4266244/App_Config_json.txt)
This is my json file for node . I am using NUCLEO-F429ZI board as Node

[2020-02-28 09:29] teetak01 commented on #63
Looks ok. I presume you have very few nodes in the network?

I would then check if the DNS works on that network. For. example if you could just run Client on ethernet on the same network, instead of BR + Node.

[2020-02-28 09:31] niravdesai712 commented on #63
yes i checked with only client without wisun configuration and i get success to cloud . then i start with wisun node and get failure . in my network only one node and one BR .

[2020-02-28 09:50] teetak01 commented on #63
Can you check if you have IPv6 connectivity in your network? It seems that you are getting link-local address from Wi-SUN. fd00:7283:7e00:0:90af:a769:ada8:9f3c

[2020-02-28 09:52] juhhei01 commented on #63
It is actually ULA which is only used inside wi-sun for back-up purpose from create a MESH network ready. Currently Border router generate that if it not learn Global prefix from Backhaul connection.

[2020-02-28 09:55] niravdesai712 commented on #63
so what changes require on  Border router side?

[2020-02-28 09:55] juhhei01 commented on #63
Do you have Native IPv6 connection available?

[2020-02-28 10:06] niravdesai712 commented on #63
[BR_Config_json.txt](https://github.com/ARMmbed/mbed-cloud-client-example/files/4266449/BR_Config_json.txt)
This are my BR configuration any change require in this???

[2020-02-28 10:14] juhhei01 commented on #63
Hi. Your configure file is OK.
Now only blocker may be that your internet service provider not give IPv6 address to border router. If you connect your laptop to same Ethernet router do you get Global IPv6 address.

Border router learn automatic IPv6 prefix from Router Advertisement message from Internet side when Prefix have a SLAAC flag enabled.

[2020-02-28 10:21] niravdesai712 commented on #63
yes i am getting IPV6 address on my laptop

[2020-02-28 10:26] juhhei01 commented on #63
Ipv6 must be global not fe80::. What is IPv6 prefix? Border router will learn same prefix if address is SLAAC operated. Can you check that by using for example Wireshark and capture Router Advertisment message  and check that it include proper IPv6 prefix with SLAAC or autonous flag.

Do you have Border router logs?

[2020-02-28 10:34] niravdesai712 commented on #63
[BR_LOG.log](https://github.com/ARMmbed/mbed-cloud-client-example/files/4266573/BR_LOG.log)
Boarder Router LOG.

[2020-02-28 10:42] juhhei01 commented on #63
Looks like that Border router not learn automatically IPv6 prefix. It is possible that Laptop is using DHCPv6 for getting address. Currently Border router need Prefix information from Router Advertisement. What is your laptop Ipv6 address prefix?
"
2K[90m[DBG ][pIP6]: Push RS to IPV6[0m
[2K[90m[DBG ][icmp]: Possible Default Router[
"
Indicate that Border router sen Router Solication and got R

[2020-02-28 10:47] niravdesai712 commented on #63
My Laptop use DHCP .
IPV6 Address: Link-local IPv6 address:	fe80::594a:1e09:6963:e9b6%13

[2020-02-28 11:04] juhhei01 commented on #63
Hi.

It looks like that you not have Global IPv6 connection available. fe80:: is link local you will need a global prefix. Like 2001::: something.

[2020-02-28 11:06] teetak01 commented on #63
@niravdesai712 if you want to test that with ethernet without wisun, you can define these in your configuration to switch to IPv6.

[code]

[2020-03-03 15:14] jeromecoutant opened #65 "STM32 EMAC default configuration issue"
Hi

Note that STM_EMAC target in
https://github.com/ARMmbed/mbed-cloud-client-example/blob/2278a25d10a9eb01f66f1250b028c73295634930/mbed_app.json#L24
has disappeared since mbed-os-5.14.2

https://github.com/ARMmbed/mbed-os/pull/11536

[2020-03-04 12:55] jeromecoutant commented on #65
@teetak01

[2020-03-09 08:23] teetak01 commented on #65
Hi @jeromecoutant thanks for the pointer. I had not noticed that change in the OS.

[2020-04-07 06:46] RonEld opened #67 "pal-platform.py fails to run"
`pal-platform.py` fails to run with the following errors:
[code]

root cause:
requirements for `click` are `>=6.5`, and on [version 7.0](https://click.palletsprojects.com/en/7.x/changelog/) the `case_sensitive` member for `click` was introduced. Since [`DynamicChoice`](https://github.com/ARMmbed/mbed-cloud-client-example/blob/master/pal-platform/pal-platform.py#L76) doesn't call its parent `__init

[2020-04-07 07:06] korjaa commented on #67
I think workaround for now is to manually install click 7.0 before any requirements from `pal-platform/requirements.txt` and `mbed-os/requirements.txt`.

This can be done with following command:
[code]

[2020-04-07 07:33] teetak01 commented on #67
This will be fixed in 4.4.0 release version.

[2020-04-17 11:06] teetak01 commented on #67
Fixed in [4.4.0](https://github.com/ARMmbed/mbed-cloud-client-example/releases/tag/4.4.0) release.

[2020-04-17 11:06] #67 closed

[2020-04-20 06:47] teetak01 commented on #63
I am closing this as fixed. @niravdesai712 please reopen if you still have issues.

[2020-04-20 06:47] #63 closed

[2020-04-22 11:18] ciarmcom commented on #65
ARM Internal Ref: IOTCLT-4140

[2020-05-08 19:47] dannywahlquist opened #69 "Are there plans to update with mbed os 5.15.3 or wait for 6.0.0?"

[2020-05-08 21:12] ciarmcom commented on #69
ARM Internal Ref: IOTCLT-4213

[2020-05-11 04:55] teetak01 commented on #69
HI @dannywahlquist

We update this application along side https://github.com/ARMmbed/mbed-cloud-client as integrated package. We plan to update to future patch release when we are ready to make next Device Management Client release. Thus we do not do just lib-updates in this repository outside of normal release cycles.

Now, Mbed OS 5.15.2 introduced backwards compatibility breakage for PSA APIs (

[2020-05-11 10:46] spanalytics commented on #69
Thanks!

[2020-05-14 06:44] teetak01 commented on #69
Closing as resolved.

[2020-05-14 06:44] #69 closed

[2020-07-05 22:44] Dimeiza opened #72 "Can't connect Pelion Device Management with a ATECC608A Secure element"
Hi,

I have tried connecting to Pelion Device Management with a ATECC608A Secure element following this documentation.

https://www.pelion.com/docs/device-management/current/connecting/connecting-to-device-management-with-a-pre-provisioned-secure-element.html

I followed procedures of this document with compliant prerequisites, but my board(K64F) showed several error log and can't connect Pelion D

[2020-07-06 04:01] ciarmcom commented on #72
ARM Internal Ref: IOTCLT-4362

[2020-07-06 06:29] jenia81 commented on #72
@Dimeiza is your Atmel is pre-provisioned? Have you used Microchip tools to generate key and certificate on the Atmel SE?

[2020-07-07 09:47] Dimeiza commented on #72
@jenia81 I'm using DM320118 that I thought already pre-provisioned when I bought.
Do I need additional pre-provisioning steps for connecting to Pelion?
(I couldn't find these steps in the above document)

[2020-07-13 13:11] jenia81 commented on #72
DM320118 comes empty.
The pre-provisioning of the SE is something that is done by Microchip in their factory
When you are using their DM320118  development kit, you should use [Trust Platform Design Suite](https://microchipdeveloper.com/authentication:trust-platform)
You can find this information in our documentation in our [Secure element E2E tutorial](https://www.pelion.com/docs/device-managemen

[2020-07-15 02:20] Dimeiza commented on #72
Yesterday, I have succeeded connecting K64F with DM320118 to Pelion Device Management without additional pre-provisioning steps for DM320118.

# solution for me

I got a following sources from TrustFLEX configurator tool(included Trust Platform Design Suite).

* tflxtls_cust_cert_def_device.c
* tflxtls_cust_cert_def_signer.c

These source includes a certificate templetes that is used to reconstruc

[2020-07-21 10:56] jenia81 commented on #72
@Dimeiza You should be able to work with ATECC608A with your own CA certificate and this is I believe what you did.
The instructions on how to do this can be seen in my comment above.
Our example should also work with the default Microchip CA that is initially stored on DM320118 - so this is something that didn't work for you out-of-the-box, am I correct?

You mentioned in your original comment:
"

[2020-07-26 21:31] Dimeiza commented on #72
No I didn't.
In 7/15(when I connect successfully), I haven't create any my CA certificate, and haven't add my CA certificate to Pelion.
I have only added Microchip CA certificate in your code(mbed-cloud-client-example/source/platform/secure_element/se_atmel_credentials/default-root-ca.crt) to Pelion.

This point is correct.
If the document I referenced in my first comment is right, I should succes

[2020-07-28 09:51] jenia81 commented on #72
This might be the issue, we purchased our DM320118 that we tested with before june2020.
we'll take a look at this and get back to you

[2020-08-05 03:29] toyowata opened #73 "Failed to update firmware on Renesas EK-RA6M3 target"
Firmware update failed on Renesas EK-RA6M3 target using manifest-tool v2.0.0.

### Step to reproduce

* Clone this repo and setup environment
https://www.pelion.com/docs/device-management/current/connecting/renesas-sdk.html
* Create update credential
[code]
* Build example code
* Inject signature using imgtool.py script
* Flash seure bootloader and firmware
* Touch and re-build example code
* Inje

[2020-08-05 04:01] ciarmcom commented on #73
ARM Internal Ref: IOTCLT-4385

[2020-08-05 08:40] yogpan01 commented on #73
manifest-tool 2.0.0 is major version change and is supporting manifest v3 which is not a part of PDMC update.
PDMC will continue using manifest tool v1.5.2.

[2020-08-05 08:40] #73 closed

[2020-10-16 11:28] egrimley-arm opened #75 "Build problem: inadequate handling of cyclic dependencies"
This recipe for reproducing the problem isn't ideal because it's a bit
over-complicated and Bullseye is not yet released so may change
significantly, but perhaps it will continue working for long enough to
be useful:

[code]

The error I see is:
[code]

It comes from the `-Wl,--start-group` and the `-Wl,--end-group` not being in the right places: there are a lot of libraries listed after the `-Wl,

[2020-12-10 10:35] teetak01 commented on #65
This was fixed as part of 4.5.0 release.

[2020-12-10 10:35] #65 closed

[2021-05-18 11:34] teetak01 commented on #75
@egrimley-arm we are currently looking in the CMake issues. We aim to resolve these in future.

[2021-07-08 04:57] teetak01 commented on #75
Internal ref: https://armiot.atlassian.net/browse/IOTCLT-4986